body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav-link {
  font-size: 20px;
}
.formulaire {
  margin-top: 50px;
  margin-left: 300px;
}
